.table-responsive {
    margin-top: auto;
    left: 40px;
    max-width: 28cm;
    max-height: 570px;
    position: fixed;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #133b5c;
    box-shadow: 0px 5px 5px 5px #888888;
    background-color: rgb(255, 255, 255);
}

tr td {
    padding: 5px !important;
    margin: 0 !important;
}

.page-header {
    margin: auto;
}

h2 {
    color: black;
}

a {
    display: inline;
    padding: 10px;
    margin: 2px;
}