<div class="container-fluid">
  <nav class="navbar navbar-light bg-success d-flex justify-content-between ">
    <div class="navbar-brand mb-0 h1 text-white">Clinicord Health Reports</div>
  </nav>
  <form #reportForm="ngForm" ngNativeValidate autocomplete="off">
    <div class="row">
      <div class="col-md-8">
        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center"> 
              <i class="material-icons">
                account_circle
              </i>
              Appointment Details</h4>
            <div class="row" >
              <div class="col-md-6">
                <div class="form-group">
                  <label class="h6" for="">Doctor Name</label>
                  <select class="form-control" #selectElem name="doctorname" (change)=showclient(selectElem.value)  required>
                    <option value="" >Select Doctor</option>
                    <option [value]="doctor.U_id" *ngFor="let doctor of doctors">{{doctor.Doctor_name}}</option>
                  </select>    
                </div>

                <div class="form-group">
                  <label class="h6" for="">Doctor Email</label>
                  <input class="form-control" [(ngModel)]="report.email" name="emailId" placeholder="Doctor Email" readonly>
                </div>
          
                <div class="form-group">
                  <label class="h6" for="">Client Name</label>
                  <select class="form-control"  #clientname name="fullname"  (change)="getappointmentclient(clientname.value)" required>
                    <option value="" >Select Client</option>
                      <option [value]="clientname.U_id" *ngFor="let clientname of clientnames" >{{clientname.Client_name}}</option>
                  </select>    
                </div> 
                <div class="form-group">
                  <label class="h6" for="">Time of Appointment</label>
                  <input class="form-control"  [(ngModel)]="report.appointmenttime" name="appointmenttime" placeholder="Appointment Time" readonly>
                </div>   
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="h6" for="">Doctor Contact #</label>
                    <input class="form-control"  [(ngModel)]="report.contactNo" name="contactNo" placeholder="Doctor Contact No." readonly>
                </div>
                <div class="form-group">
                    <label class="h6" for="">Address of Clinic/Hospital</label>
                    <input class="form-control"  name="doctorAddress" [(ngModel)]="report.doctorAddress" name="doctorAddress" placeholder="Doctor Address" readonly >

                </div>
                  <div class="form-group">
                      <label class="h6" for="">Date of Appointment</label>
                  <select class="form-control" #appointmentdate name="appointmentdate" (change)="getappointmentdate(appointmentdate.value)" placeholder="Appointment Date">
                    <option value="" >Select Date</option>
                    <option  *ngFor="let appointmentdate of appointmentdates" [value]="appointmentdate.ap_date">{{appointmentdate.ap_date}}</option>
                </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                  medication
                </i>Prescription Details</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea type="text" placeholder="Enter your Prescription Details" class="form-control" [(ngModel)]="report.prescriptionDetails" name="prescriptionDetails"
                    rows="4" required  #prescriptionDetails="ngModel"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                  medication
                </i>Medical Details</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea type="text" placeholder="Enter your Medical Details" class="form-control" [(ngModel)]="report.healthDetails" name="healthDetails"
                    rows="4" required  #healthDetails="ngModel"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                  medication
                </i>Diagnosis Details</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Enter your Diagnosis Details" class="form-control" [(ngModel)]="report.diagnosisDetails" name="diagnosisDetails"
                    rows="4" required  #diagnosisDetails="ngModel"  >
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-md-4">
        <div class="shadow-sm card action-buttons">
          <button (click)="reportForm.valid ? generatePdf('open') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              picture_as_pdf
            </i> <span>Open PDF</span></button>
          <button (click)="reportForm.valid ? generatePdf('download') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              cloud_download
            </i><span>Download PDF</span></button>
          <button (click)="reportForm.valid ? generatePdf('print') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              print
            </i><span>Print PDF</span></button>
          <button type='reset' (click)="resetForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              clear
            </i><span>Reset</span></button>
        </div>
        <div class="card p-4">
          <div class="form-group">
            <label class="h4 mb-3" for="">Show your picture in report</label>
            <input type="file" class="form-control-file" (change)="fileChanged($event)" aria-describedby="fileHelpId">
          </div>
          <img *ngIf="report.profilePic" [src]="report.profilePic" class="img-thumbnail" style="width: 200px;height: 200px;">
        </div>
        <form [formGroup]="sendfile"  (ngSubmit)="submitPdf(sendfile.value)" >
          <div class="card p-4">
            <div class="form-group">
              <label class="h4 mb-3" for="">Send To</label>
              <input  class="form-control"   formControlName="email" [(ngModel)]="sendto" name="senderemail" readonly >
              <label class="h4 mb-3" for="">Upload Report</label>
              <input type="file"  formControlName="reportfile" (change)="onFileChange($event)" accept=".doc,.docx, .pdf" class="form-control-file" name="report">
              <button type='submit'
              class="btn btn-primary d-flex align-items-center justify-content-center mt-3">
              <i class="material-icons">
                email
              </i><span>Send Report</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </form>
</div>