<nav class="navbar navbar-light bg-success d-flex justify-content-between">
    <div class="navbar-brand mb-0 h1 text-white">Clinicord Health Reports</div>
  </nav>
 
  <div class="container-fluid">
    <form #reportForm="ngForm" ngNativeValidate autocomplete="off">
      <div class="row">
        <div class="col-md-8">
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center"> 
                <i class="material-icons">
                  account_circle
                </i>
                Patient Details</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control"  name="fullname" [(ngModel)]="report.name" name="name" placeholder="Name">
                        <option [Value]="healthprofile"  *ngFor="let healthprofile of healthprofiles">{{healthprofile.Client_name}}</option>
                    </select>    
                    <!-- <input type="text" class="form-control" [(ngModel)]="report.name" name="name" placeholder="Name"
                      #Name="ngModel" required
                      [ngClass]="{'is-invalid': Name.invalid && (Name.touched || reportForm.submitted) }"> -->

                  </div>
                  <div class="form-group">
                    <select class="form-control"  name="doctorname" [(ngModel)]="report.doctorName" name="doctorName" placeholder="Doctor Name">
                        <option [Value]="doctor"  *ngFor="let doctor of doctors">{{doctor.Doctor_name}}</option>
                    </select>    
                  </div>

                  <div class="form-group">
                    <select class="form-control"  name="doctorAddress" [(ngModel)]="report.doctorAddress" name="doctorAddress" placeholder="Doctor Address">
                        <option [Value]="doctor"  *ngFor="let doctor of doctors">{{doctor.Doctor_address}}</option>
                    </select>    
                  </div>

                  <!-- <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" [(ngModel)]="report.address" name="address" rows="3"
                        placeholder="Address" #Address="ngModel" required
                        [ngClass]="{'is-invalid': Address.invalid && (Address.touched || reportForm.submitted) }"></textarea>
                    </div>
                  </div> -->
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="report.contactNo" name="contactNo"
                      placeholder="Contact No." #ContactNo="ngModel" required
                      [ngClass]="{'is-invalid': ContactNo.invalid && (ContactNo.touched || reportForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="report.email" name="emailId"
                      placeholder="Email ID" #Email="ngModel" required
                      [ngClass]="{'is-invalid': Email.invalid && (Email.touched || reportForm.submitted) }">
                  </div>
                  
                    <div class="form-group">
                        <!-- <select class="form-control"  name="fullname"[(ngModel)]="report.appointmentdate" name="appointmentdate" placeholder="appointmentdate">
                            <option [Value]="healthprofile">{{healthprofile.ap_date}}</option>
                        </select>     -->
                    <input type="date" class="form-control" [(ngModel)]="report.appointmentdate" name="appointmentdate"
                     #appointmentdate="ngModel" required
                      [ngClass]="{'is-invalid': appointmentdate.invalid && (appointmentdate.touched || reportForm.submitted) }" >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons">
                    medication
                  </i>Prescription</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="report.prescriptionDetails" name="prescriptionDetails"
                      rows="4" required  #prescriptionDetails="ngModel"  >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons">
                    medication
                  </i>Health Details</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="report.healthDetails" name="healthDetails"
                      rows="4" required  #healthDetails="ngModel"  >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons">
                    medication
                  </i>Diagnosis</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="report.diagnosisDetails" name="diagnosisDetails"
                      rows="4" required  #diagnosisDetails="ngModel"  >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Skills -->
          <!-- <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    timeline
                  </i>
                  Skills</h4>
                <button class="btn btn-primary" (click)="addSkill()">+</button>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of report.skills; let i=index">
                  <div class="form-group">
                    <input type="text" class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                      placeholder="e.g. Java / Angular / .Net " #Skill="ngModel" required
                      [ngClass]="{'is-invalid': Skill.invalid && (Skill.touched || reportForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Experience -->
          <!-- <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    timeline
                  </i>
                  Experience</h4>
                <button class="btn btn-primary" (click)="addExperience()">+</button>
              </div>
              <div class="row" *ngFor="let ex of report.experiences; let i=index">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="employer{{i}}" [(ngModel)]="ex.employer"
                      placeholder="Employer" #Employer="ngModel" required
                      [ngClass]="{'is-invalid': Employer.invalid && (Employer.touched || reportForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" name="jobDescription{{i}}" [(ngModel)]="ex.jobDescription" rows="3"
                        placeholder="Job Description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="jobTitle{{i}}" [(ngModel)]="ex.jobTitle"
                      placeholder="Job Title" #JobTitle="ngModel" required
                      [ngClass]="{'is-invalid': JobTitle.invalid && (JobTitle.touched || reportForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" name="exInMonths{{i}}" [(ngModel)]="ex.experience"
                      placeholder="Experience in months" #Experience="ngModel" required
                      [ngClass]="{'is-invalid': Experience.invalid && (Experience.touched || reportForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Education -->
          <!-- <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    school
                  </i>
                  Education</h4>
                <button class="btn btn-primary" (click)="addEducation()">+</button>
              </div>
              <div class="row" *ngFor="let ed of report.educations; let i=index">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" placeholder="Degree" name="degree{{i}}" [(ngModel)]="ed.degree"
                      #Degree="ngModel" required
                      [ngClass]="{'is-invalid': Degree.invalid && (Degree.touched || reportForm.submitted) }">
                      <option [value]="d" *ngFor="let d of degrees">{{d}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="college{{i}}" [(ngModel)]="ed.college"
                      placeholder="School/College" #College="ngModel" required
                      [ngClass]="{'is-invalid': College.invalid && (College.touched || reportForm.submitted) }">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="number" class="form-control" name="passingYear{{i}}" [(ngModel)]="ed.passingYear"
                      placeholder="Passing Year" #PassingYear="ngModel" required
                      [ngClass]="{'is-invalid': PassingYear.invalid && (PassingYear.touched || reportForm.submitted) }">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="number" class="form-control" name="result{{i}}" [(ngModel)]="ed.percentage"
                      placeholder="Percentage" #Percentage="ngModel" required
                      [ngClass]="{'is-invalid': Percentage.invalid && (Percentage.touched || reportForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Other Details -->
          <!-- <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons"> list </i>Other Details</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="report.otherDetails" name="otherDetails"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-md-4">
          <div class="shadow-sm card action-buttons">
            <button (click)="reportForm.valid ? generatePdf('open') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                picture_as_pdf
              </i> <span>Open PDF</span></button>
            <button (click)="reportForm.valid ? generatePdf('download') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                cloud_download
              </i><span>Download PDF</span></button>
            <button (click)="reportForm.valid ? generatePdf('print') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                print
              </i><span>Print PDF</span></button>
            <button type='reset' (click)="resetForm()"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                clear
              </i><span>Reset</span></button>
          </div>
          <div class="card p-4">
            <div class="form-group">
              <label class="h4 mb-3" for="">Show your picture in report</label>
              <input type="file" class="form-control-file" (change)="fileChanged($event)" aria-describedby="fileHelpId">
            </div>
            <img *ngIf="report.profilePic" [src]="report.profilePic" class="img-thumbnail">
          </div>
        </div>
      </div>
    </form>
  </div>