// // @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
html,
body {
    margin: 0;
    height: 100%;
}

td{
    font-size: 85%;
}
// /* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';