.page-container {
    position: fixed;
    text-align: center;
}

img {
    position: relative;
    margin-right: 100px;
}

p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #133b5c;
    font-weight: bold;
    margin: 40px 320px 0 220px;
}